/* Write your code here. */

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin: 0px;
}

.bgContainer {
  height: 100vh;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f8fafc;
}
